<ion-header>
  <ion-toolbar>
    <ion-title>songDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid >
    <ion-row>
      <ion-col >
        <img [src]="image">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-item>
            <h2>Titulo: {{name}}</h2>  
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <h2>Artista: {{artist}}</h2>
          <h2>Escuchas: {{listeners}}</h2>
          <h2>Reproducciones: {{count}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

